/***********************OFFERS SECTION*********************/
#offersSection{
    height: auto;
    background-color: white;
    z-index: 50;
}

#shorts{
    margin-top: 70px;
}

@media (min-width: 1500px){
    #offersSection{
        width: 80%;
    }
}

.masonry-item{
    max-height: 100%;
}

.badges-row{
    transition: all 0.55s ease-in-out;
}

.maxi-badge-svg{
    max-height: 100px;
}

.maxi-badge-title{
    font-size: 1.3rem;
    text-transform: capitalize;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hover-card{
    overflow: hidden;

}

.hover-card-bg{
    height: auto;
    width:auto;
    transition: all 0.55s ease-in-out;
}

img.hover-card-bg{
    overflow: hidden;
}

.hover-card-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

.hover-card-overlay .btn{
    position: absolute;
    left:50%;
    top:80%;
    transform: translate(-50%,-50%);
}

    .card-text{
        padding: 15px;
    }

.maxi-card:hover > .hover-card-overlay{
    visibility: visible;
}

.maxi-card:hover > .hover-card > img.hover-card-bg{
    transform: scale(1.2);
}

.maxi-card{
    padding: 0;
}



.card-text-title{
    text-transform: uppercase;
    font-weight: 700;
}

@media (min-width: 1200px){
    .maxi-short{
        width:80%;
        margin: auto;
    }
    .card-text{
        padding: 30px;
    }
}